.hero {
	height: 100vh;
	background: #222831;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.iconWrapper {
	width: 75px;
	height: 75px;
}

.iconTemp {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.hourlyWeather {
	width: 90%;
	height: 250px;
	/* border: 1px solid white; */
}

.dailyWeather {
	width: 90%;
	height: 250px;
	/* border: 1px solid white; */
}
