.hero {
	/* min-height: 100vh; */
	background: #222831;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	gap: 30px;
}

.loading {
	background: #222831;
	min-height: 100vh;
	transition: opacity 3s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionontainer {
	width: 100%;
	height: 100%;
}
.sectionontainer h4 {
	width: fit-content;
	/* margin-left: 2%; */
	/* border: 1px solid red; */
}
.hourlyWeather {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	/* padding: 0rem 1rem; */
	/* padding-left: 28%; */
	/* align-items: center; */
	flex-direction: row;
	/* border: 1px solid red; */
	overflow: hidden;
	overflow-x: auto;
}

.dailyWeather {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: row;
	/* border: 1px solid red; */
	overflow: hidden;
	overflow-x: auto;
}
