.hero {
	height: 100vh;
	background: #222831;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hourlyWeather {
	width: 90%;
	height: 100%;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
	/* border: 1px solid white; */
}

.dailyWeather {
	width: 90%;
	height: 100%;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
	/* border: 1px solid white; */
}
