.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.iconWrapper {
	width: 75px;
	height: 75px;
}

.iconTemp {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 20px;
}
#current-title {
	font-size: 26px;
}

.iconTemp h1 {
	font-size: 48px;
}
.otherInfo {
	width: 100%;
	height: fit-content;
}

#other {
	font-size: 16px;
	max-width: fit-content;
	max-height: fit-content;
}

/* @media screen and (min-width: 1440px) {
	.otherInfo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
} */

@media screen and (max-width: 650px) {
	#current-title {
		font-size: 18px;
	}
	.iconTemp h1 {
		font-size: 48px;
	}
	#othe {
		font-size: 14px;
	}
}
