.footer {
	width: 100%;
	background: url('../../assets/projectsBackground.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	opacity: 0.9;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
